<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi primer pagina web</title>
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://kit.fontawesome.com/066516fd69.js" crossorigin="anonymous"></script>
    
    
</head>
<body> 

    <header class="mainheader">
        <div class="headertopbar"><img src="/images/images/logo-mercado-liebre.svg" class="logo" alt="logo-mercado-liebre"><br>
             <input class="searching" type="text" name="buscar productos" value="buscar productos" ><i class="fa-solid fa-magnifying-glass"></i> 
               

        <h2 class="textheader"> <i class="fa-solid fa-hand-holding-dollar"></i>comprar en cuotas sin tarjeta de credito</h2>
        <a class="burger-menu" href=" hamburger button"><i class="fa-solid fa-bars"></i></a>
    </div>
        <nav class="haderbottonbar">
            
            <ul class="leftnavbar">
                <li><a href="#" >Ofertas</a></li>   
                <li><a href="#">Tiendas oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>
            
            
            <ul class="rightnavbar">
                <li><a href="/register"><span>Crea tu cuenta</span></a><i class="fa-solid fa-credit-card"></i></li>
                <li><a href="/login">Ingresar</a><i class="fa-solid fa-right-to-bracket"></i></li>
                <li><a href="#">Mis compras</a><i class="fa-solid fa-cart-shopping"></i></li>   
                
            </ul>
            
            
        </nav>
        <br> 
    </div>
</header>
        <div>
            
        <img class="banner" src= "/images/images/img-home-banner.jpg" alt="img-home-banner"> 
        </div>      
     <main class="product">
        <section class="vista">
            <a href="#"><br><span>Basado en tu ultima vista</span></a>
            <br>
            <ul>
                 <img src= "/images/images/img-cafetera-moulinex.jpg" alt="img-cafetera-moulinex" width="100%">
            
                <li class="precios">$6700 <a href="#" class="descuentos"> 40% OFF</a></li>
                <p class="descripcion">Cafetera Moulinex</p>
            <img src= "/images/images/img-macbook-pro-2019.jpg" alt="img-samsung-smart"width="100%">
                <li class="precios">$230.000  <a href="#" class="descuentos">20% OFF</a></li>
                <p class="descripcion">MacBook Pro 2019</p>
            <img src= "/images/images/img-samsung-galaxy-s10.jpg" alt="img-samsung-smart"width="100%">
            <li class="precios">$70.500 <a href="#" class="descuentos"> 10% OFF</a></li>             
                <p class="descripcion">Samsung Galaxy S10</p>
            <img src= "/images/images/img-tv-samsung-smart.jpg" alt="img-tv-samsung-smart"width="100%" >
                <li class="precios">$23.200 <a href="#" class="descuentos">5% OFF</a></li>              
                <p class="descripcion">SmartTv Samsung 43"</p>
            </ul>
            
            

        </section>

        <section class="Ofertas">
        
            <a href="#"><span>Ofertas</span></a>
            <br>
            <ul>
            <img src= "/images/images/img-cafetera-moulinex.jpg" alt="img-cafetera-moulinex"width="100%">
           
                <li class="precios">$6.770  <a href="#" class="descuentos"></a> 40% OFF</a></li>
                <p class="descripcion">Cafetera Moulinex</p>
            <img src= "/images/images/img-macbook-pro-2019.jpg" alt="img-samsung-smart"width="100%">
                <li class="precios">$230.000 <a href="#" class="descuentos"> 20% OFF</a></li>
                <p class="descripcion">MacBook Pro 2019</p>
            <img src= "/images/images/img-samsung-galaxy-s10.jpg" alt="img-samsung-smart"width="100%">
                <li class="precios">$70.500  <a href="#" class="descuentos"> 10% OFF</a></li>
                <p class="descripcion">Samsung Galaxy S10</p>
            <img src= "/images/images/img-tv-samsung-smart.jpg" alt="img-tv-samsung-smart"width="100%">
                <li class="precios">$23200  <a href="#" class="descuentos"> 5% OFF</a></li>
                <p class="descripcion">SmartTv Samsung 43"</p>
            </ul>
        

        </section>
    </main>

    <!--<footer class="pie">

   
    <section><span>Pagá con tarjeta o en efectivo</span></section>
    <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
        puntos de pago. ¡Y siempre es seguro!</p> 
        <br>
    <section><span> Envío gratis desde $ 2.500</span></section>
    <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
        productos. Es un beneficio de Mercado Puntos.</p>
        <br>
    <section><span>Seguridad, de principio a fin</span></section>
    <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
        porque estás siempre protegid@.</p>
        <br>

    <section><span>Copyright © 1999-2020 MercadoLiebre S.R.L.</span></section>
    
    
</footer>
</body>
</html> -->