<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <title>Formulario de registro</title>
</head>
<body>
  <form action="resultado.html" method="POST">
    <p>
      <label>Nombre:</label>
      <input type="text" name="nombre y apellido" required>
    </p>

    <p>
      <label>nombre de usuari@:</label>
      <input type="text" name="E-mail" required>
    </p>
    <p>
        <label>Perfile:</label>
      <input type="text"><span>¿queres Comprar o Vender ?</span>
    </p>
<p>
    <label>fecha de nacimiento:</label>
      <input type="date" name="date" required>
      </p>
      <p>
        <label>Domicilio:</label>
      <input type="text-number" name="Domicilio" required>
      </p>
    <p>
      <label>Contraseña:</label>
      <input type="password" name="password" required>
    </p>
<p>
    <input type="reset" value="borrar">
    
</p>
    <p>
    <input type="submit" value="enviar">
    
    </p>
  </form>
</body>
</html>